body {
  background-color: #ecf7ff;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  gap: 10px;
}

.title {
  font-size: 30px;
}

h2 {
  margin: 0;
}

.desc {
  margin: 0;
  gap: 15px;
  padding-inline: 60px;
}

img {
  width: 200px;
}
