body {
  background-color: #ecf7ff;
}

form {
  display: flex;
  gap: 15px;
}

img {
  width: 25px;
  height: 25px;
}

input {
  justify-content: center;
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 50px;
}

li {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}
